<mat-toolbar color="primary">
  <span>Reactive Forms</span>
</mat-toolbar>

<div fxLayout="column" fxFlexAlign="center center" style="background-color: #f1f1f1; padding: 10px 15%;">

  <mat-card fxFlex="80%" fxLayout="column" fxFlexAlign="center center" style="margin-top: 20px;">
    <mat-card-header>
      <mat-card-title>Reactive forms Modules</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">

        <!------------------------- Complete Name  ------------------------->
        <div formGroupName="completeName" fxLayout="column" fxLayoutAlign="center center" id="completeNameContainer">

          <mat-form-field>
            <input type="text" matInput placeholder="Firstname" formControlName="firstname">
            <mat-error *ngIf="form.get('completeName.firstname').hasError('required')">Field is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="lastname" formControlName="lastname">
            <mat-error *ngIf="form.get('completeName.lastname').hasError('required')">Field is required</mat-error>
          </mat-form-field>

        </div>

        <!------------------------- EMAIL, USERNAME ,PASSWORDS  ------------------>
        <mat-form-field>
          <input type="email" matInput placeholder="email" formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('required')">Field is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="username" formControlName="username">
          <mat-error *ngIf="form.get('username').hasError('required')">Field is required</mat-error>
          <mat-error *ngIf="!form.get('username').hasError('required') && !form.get('username').valid">Userna already exists</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="password" formControlName="password">
          <mat-error *ngIf="form.get('password').hasError('required')">Field is required</mat-error>
          <mat-error *ngIf="form.get('password').hasError('minLength')">Should be at least 6 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="password2">
          <mat-error *ngIf="form.get('password2').hasError('required')">Field is required</mat-error>
          <mat-error *ngIf="form.get('password2').hasError('notIquals')">Password does not match</mat-error>
        </mat-form-field>


        <!------------------------- Hobbies  ------------------------------>

        <ng-container formArrayName="hobbies" style="width: 100%;">
          <mat-form-field *ngFor="let hobbie of hobbies.controls; index as i">
            <input type="text" matInput placeholder="hobbie" [formControlName]="i">
            <mat-error *ngIf="hobbies.getError('required')">Field is Required</mat-error>
          </mat-form-field>
        </ng-container>

        <button mat-raised-button style="width: 100%;" type="submit">Submit</button>
      </form>

    </mat-card-content>

  </mat-card>

</div>